<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.RecordNoMapper">

    <select id="getId" statementType="CALLABLE" useCache="false">
        CALL get_doc_id(#{invalue,jdbcType=VARCHAR},#{rsvalue,mode=OUT,jdbcType=VARCHAR})
    </select>

</mapper>
